@tailwind base;
@tailwind components;
@tailwind utilities;

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #fff;
}

footer div {
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
  margin-top: 100px;
}
